<div class="container" id="chat-messaging-form">
  <form
    class="needs-validation my-3"
    enctype="multipart/form-data"
    id="chatForm"
    novalidate
  >
    <div class="card card-border">
      <div class="row g-0 justify-content-left">
        <div class="col mx-auto icon-sidebar">
          <!-- show icon -->
          <% const def = "___default/icon/default_icon.png"; %> <% if
          (!authenticated) { %>
          <img
            src="uploads/<%= def %>"
            class="img-fluid rounded-circle my-2 icon"
            alt="Cat icon"
          />
          <% } %> <% if (authenticated) { %> <% const prof = (profile.icon ===
          '') ? def : profile.icon ; %>
          <img
            src="uploads<%= prof %>"
            class="img-fluid rounded-circle my-2 icon icon-link"
            alt="Cat icon"
            onclick="window.open('/<%= profile.username %>', '_self')"
            onerror="$(this).attr('src', 'uploads/<%= def %>')"
          />
          <% } %>
        </div>
        <div class="col">
          <div class="card-body pr-3 pl-1">
            <!-- name field / show username -->
            <div class="input-group mb-3 justify-content-between">
              <% if (!authenticated) { %>
              <input
                type="text"
                class="form-control action-highlight2 rounded"
                placeholder="What's your name?"
                id="usernameInput"
                name="name"
                aria-label="Your name"
                aria-describedby="usernameInput"
                required
              />
              <div class="invalid-feedback">Missing name.</div>
              <% } %> <% if (authenticated) { %>
              <p class="card-text fs-4">
                <a class="chat-link" href="/<%= username %>"
                  >@<span class="fw-bold" id="username-in-chatform"
                    ><%= username %></span
                  ></a
                >
              </p>
              <% } %>
            </div>

            <!-- message field -->
            <textarea
              class="form-control action-highlight2"
              id="messageTextArea"
              name="content"
              title="Message"
              placeholder="What's going on?"
              rows="3"
              required
            ></textarea>
            <div class="invalid-feedback">Missing message.</div>
            <div class="p-2"></div>

            <!-- image preview -->
            <div class="container">
              <div class="row">
                <div class="col" id="preview"></div>
              </div>
            </div>

            <!-- image upload -->
            <label>
              <input
                class="form-control"
                type="file"
                id="formFileImg"
                name="misc"
                style="display: none"
                onchange="readFiles(this);"
                multiple
              />
              <a
                class="btn chat-link"
                id="imgButton"
                role="button"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                title="Add up to 3 images."
                ><i class="fas fa-images fa-2x"></i
              ></a>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-end mt-3">
      <button class="btn btn-lg btn-secondary" type="submit" id="submitButton">
        <span id="submitBtnText">Send your chat</span>
      </button>
    </div>
  </form>
</div>
